@using System.Globalization;
@using Project.Resources;

@{
    if (!ViewContext.RouteData.Values.ContainsKey("culture") || (string)ViewContext.RouteData.Values["culture"] == "en")
    {
        {
            ViewContext.RouteData.Values["culture"] = "fr";
        }
        <li class="nav-link text-dark">
            <a asp-controller="@((string)ViewContext.RouteData.Values["controller"])" asp-action="@((string)ViewContext.RouteData.Values["action"])" asp-route-culture="@((string)ViewContext.RouteData.Values["culture"])" lang="fr" class="nav-link p-0">@Resource.SwitchToFrench</a>
        </li>

        {
            ViewContext.RouteData.Values["culture"] = "es";
        }
        <li class="nav-link text-dark">
            <a asp-controller="@((string)ViewContext.RouteData.Values["controller"])" asp-action="@((string)ViewContext.RouteData.Values["action"])" asp-route-culture="@((string)ViewContext.RouteData.Values["culture"])" lang="es" class="nav-link p-0">@Resource.SwitchToSpanish</a>
        </li>
        {
            ViewContext.RouteData.Values["culture"] = "en";
        }
    }
    else if (!ViewContext.RouteData.Values.ContainsKey("culture") || (string)ViewContext.RouteData.Values["culture"] == "fr")
    {
        {
            ViewContext.RouteData.Values["culture"] = "en";
        }
        <li class="nav-link text-dark">
            <a asp-controller="@((string)ViewContext.RouteData.Values["controller"])" asp-action="@((string)ViewContext.RouteData.Values["action"])" asp-route-culture="@((string)ViewContext.RouteData.Values["culture"])" lang="en" class="nav-link p-0">@Resource.SwitchToEnglish</a>
        </li>

        {
            ViewContext.RouteData.Values["culture"] = "es";
        }
        <li class="nav-link text-dark">
            <a asp-controller="@((string)ViewContext.RouteData.Values["controller"])" asp-action="@((string)ViewContext.RouteData.Values["action"])" asp-route-culture="@((string)ViewContext.RouteData.Values["culture"])" lang="es" class="nav-link p-0">@Resource.SwitchToSpanish</a>
        </li>
        {
            ViewContext.RouteData.Values["culture"] = "fr";
        }
    }
    else if (!ViewContext.RouteData.Values.ContainsKey("culture") || (string)ViewContext.RouteData.Values["culture"] == "es")
    {
        {
            ViewContext.RouteData.Values["culture"] = "en";
        }
        <li class="nav-link text-dark">
            <a asp-controller="@((string)ViewContext.RouteData.Values["controller"])" asp-action="@((string)ViewContext.RouteData.Values["action"])" asp-route-culture="@((string)ViewContext.RouteData.Values["culture"])" lang="en" class="nav-link p-0">@Resource.SwitchToEnglish</a>
        </li>

        {
            ViewContext.RouteData.Values["culture"] = "fr";
        }
        <li class="nav-link text-dark">
            <a asp-controller="@((string)ViewContext.RouteData.Values["controller"])" asp-action="@((string)ViewContext.RouteData.Values["action"])" asp-route-culture="@((string)ViewContext.RouteData.Values["culture"])" lang="fr" class="nav-link p-0">@Resource.SwitchToFrench</a>
        </li>
        {
            ViewContext.RouteData.Values["culture"] = "es";
        }
    }
    else
    {

        {
            ViewContext.RouteData.Values["culture"] = "fr";
        }
        <li class="nav-link text-dark">
            <a asp-controller="@((string)ViewContext.RouteData.Values["controller"])" asp-action="@((string)ViewContext.RouteData.Values["action"])" asp-route-culture="@((string)ViewContext.RouteData.Values["culture"])" lang="fr" class="nav-link p-0">@Resource.SwitchToEnglish</a>
        </li>

        {
            ViewContext.RouteData.Values["culture"] = "es";
        }
        <li class="nav-link text-dark">
            <a asp-controller="@((string)ViewContext.RouteData.Values["controller"])" asp-action="@((string)ViewContext.RouteData.Values["action"])" asp-route-culture="@((string)ViewContext.RouteData.Values["culture"])" lang="es" class="nav-link p-0">@Resource.SwitchToSpanish</a>
        </li>
        {
            ViewContext.RouteData.Values["culture"] = "en";
        }
    }
    System.Threading.Thread.CurrentThread.CurrentCulture =
        System.Threading.Thread.CurrentThread.CurrentUICulture =
        new System.Globalization.CultureInfo((string)ViewContext.RouteData.Values["culture"]);
}